# 1.Variable

In [1]:
nama='suma'

In [2]:
print(nama)

suma

# 2. Data Types

In [3]:
#create int
number = 123

In [4]:
type(number)

int

In [5]:
#create string
number_string='satu'

In [6]:
type(number_string)

str

In [7]:
#create float
number_float=123.2

In [8]:
type(number_float)

float

In [9]:
#create bool
bool_variable=True

In [10]:
type(bool_variable)

bool

In [11]:
bool_variable_f=bool(0)

In [12]:
bool_variable_f

False

In [13]:
#creating a list variable
list_variable=[1,2,3,4,4.5]

In [14]:
type(list_variable)

list

In [15]:
list_variable[1]=234

In [16]:
list_variable

[1, 234, 3, 4, 4.5]

In [17]:
#create a tuple variable, IMMUTABLE=you can't change the value
tuple_variable=(1,2,3,4,4.5)
type(tuple_variable)

tuple

In [18]:
tuple_variable[0]

1

In [19]:
# this is creating a set variable, IMMUTABLE=you can't change the value
set_variable={1,2,3,4,4.5}
type(set_variable)

set

In [20]:
#type casting list to set back to list to get rid of duplicate
list(set(list_variable))

[1, 3, 4, 4.5, 234]

In [21]:
type(list(set(list_variable)))

list

In [22]:
#defining a dictionary variable
person_variable={'name':"suma", 'favorite_color':'red', 'favorite_number':20}

In [23]:
type(person_variable)

dict

In [24]:
print(person_variable)

{'name': 'suma', 'favorite_color': 'red', 'favorite_number': 20}

In [25]:
person_variable['name']

'suma'

In [26]:
fit_models={}

In [27]:
tuple(list_variable)

(1, 234, 3, 4, 4.5)

# 3.List

In [28]:
#create
names=['neil armstrong','buzz aldrin','sally ride','yuri gagarin','elon musk']

In [29]:
#Read
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [30]:
#reading using indexing
names[0]

'neil armstrong'

In [31]:
names[-1]

'elon musk'

In [32]:
len(names)

5

In [33]:
#Update

In [34]:
names[-1]='suma'
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'suma']

In [35]:
names.append('elon musk')

In [36]:
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'suma',
 'elon musk']

In [37]:
names.insert??

In [38]:
names.insert(0,'richard')

In [39]:
names

['richard',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'suma',
 'elon musk']

In [40]:
#Delete

In [41]:
del names[-2]

In [42]:
names

['richard',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'elon musk']

# 4.Dictionaries

In [43]:
#create
astronaut={
    'name':'elon musk',
    'suit_size':'large',
    'allergies':'peanuts'
}

In [44]:
#Read

In [45]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'peanuts'}

In [46]:
astronaut['suit_size']

'large'

In [47]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [48]:
astronaut.values()

dict_values(['elon musk', 'large', 'peanuts'])

In [49]:
#Update

In [50]:
astronaut['allergies']='mango'

In [51]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

In [52]:
astronaut['space_ship']='Galactic 1'

In [53]:
astronaut

{'name': 'elon musk',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'Galactic 1'}

In [54]:
#Delete

In [55]:
del astronaut['space_ship']

In [56]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

# 5. Conditions and Logic

In [57]:
#Appling Logic using the IF statement
name='Suma'
if name == 'Neil Armstrong':
    print('Sup Neil')

In [58]:
test_number = 10
if test_number >=5:
    print('number is greater than equal to 5')

number is greater than equal to 5

In [59]:
probabilty = 0.04
#Probabilty is greater than 0.5
if probabilty >=0.5:
    print(True)
    
#Print out a statment is probability is below
elif probabilty < 0:
    print('check you probabilties')

    
#Anything else
else:
    print(False)

False

In [60]:
#vreate a list of names
names=['neil armstrong','buzz aldrin','sally ride','yuri gagarin','elon musk']
if 'elon musk' in names:
    #using python escapes
    print('Elon\'s here')

Elon's here

# 6.Loops

In [61]:
#thi is an example of a for Loop
for name in names:
    print(name)
    
    #Condition statement block
    if name == 'buzz aldrin':
        print('sup buzz\n')
        #Next value in the loop
        continue
    elif name =='yuri gagarin':
        print('Hey yuri')
        #Break statement stops the loop
        break
    #catch all
    else:
        #Placeholder to do nothing
        pass
    # outside of if statement block
    print('Please to have you here !\n')

neil armstrong
Please to have you here !

buzz aldrin
sup buzz

sally ride
Please to have you here !

yuri gagarin
Hey yuri

In [62]:
#loop x number of times
for idx in range(1,11):
    print(idx)

1
2
3
4
5
6
7
8
9
10

In [63]:
#create launch variables
launched_shuttles=0
total_shuttles=5

#Create while loop
while True:
    #string formatting
    print('Shuttle {} launched'.format(launched_shuttles+1))
    launched_shuttles += 1 #launched_shuttles + 1
    
    if launched_shuttles == total_shuttles:
        print('all shuttles launched')
        break

Shuttle 1 launched
Shuttle 2 launched
Shuttle 3 launched
Shuttle 4 launched
Shuttle 5 launched
all shuttles launched

In [64]:
astronaut={
    "name":"suma",
    "suit_size":"medium",
    "allergies":"peanuts"
}

In [65]:
#accessing dictionary keys
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [66]:
#Loop through keys in a dictiobary
for key in astronaut.keys():
    print(key)

name
suit_size
allergies

In [67]:
#Accessing dictionary values
astronaut.values()

dict_values(['suma', 'medium', 'peanuts'])

In [68]:
#Loop through values in a dictionary
for value in astronaut.values():
    print(value)

suma
medium
peanuts

In [69]:
astronaut.items()

dict_items([('name', 'suma'), ('suit_size', 'medium'), ('allergies', 'peanuts')])

In [70]:
#loop through keys and values at the same time
for key, value in astronaut.items():
    print(key)
    print(value ,'\n')

name
suma

suit_size
medium

allergies
peanuts

In [71]:
#list comprehensions
new_list=[name.title() for name in names]

In [72]:
new_list

['Neil Armstrong', 'Buzz Aldrin', 'Sally Ride', 'Yuri Gagarin', 'Elon Musk']

In [73]:
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

# 7.Functions

In [74]:
#Defining a function in python - Recipe
def launchpad_welcome():
    print('hello')
    print(1+2)
    print(3+4)

In [75]:
#running aour function
launchpad_welcome()

hello
3
7

In [76]:
for idx in range(10):
    launchpad_welcome()

hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7

In [77]:
names=['neil armstrong','buzz aldrin','sally ride','yuri gagarin','elon musk']

In [78]:
#positional Arguments
def custom_welcome(name):
    print('Welcome {}'.format(name)) #string formating

In [79]:
custom_welcome('suma bimantoro andru')

Welcome suma bimantoro andru

In [80]:
for name in names:
    custom_welcome(name)

Welcome neil armstrong
Welcome buzz aldrin
Welcome sally ride
Welcome yuri gagarin
Welcome elon musk

In [81]:
#Multiple positional Arguments -POSITION IS IMPORTANT
def custom_welcome_to_ship(name,space_ship):
    print('Welcome {} to the {}'.format(name, space_ship)) #string formating

In [82]:
custom_welcome_to_ship('suma','Galatic 1')

Welcome suma to the Galatic 1

In [83]:
space_ships=['Galactic 1','Galactic 2','USS Voyager','Maximum Amazing Wow Space Ship','Apple Space Ship']

In [84]:
space_ships[0]

'Galactic 1'

In [85]:
#Used the enumarate function to get the psositional
for idx,name in enumerate(names):
    ship=space_ships[idx]
    custom_welcome_to_ship(name, ship)

Welcome neil armstrong to the Galactic 1
Welcome buzz aldrin to the Galactic 2
Welcome sally ride to the USS Voyager
Welcome yuri gagarin to the Maximum Amazing Wow Space Ship
Welcome elon musk to the Apple Space Ship

In [86]:
#this is using keyword arguments
def space_suit(color='Blue'):
    print('your space suit is {}'.format(color))

In [87]:
space_suit()

your space suit is Blue

In [88]:
space_suit(color='red')

your space suit is red

In [89]:
#Multiple keyword arguments
def space_suit_welcome(name,space_ship,color='Blue',allergies='none'):
    print('welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name,space_ship,color,allergies))

In [90]:
space_suit_welcome('Elon Musk','Apple iship',color='red')

welcome Elon Musk to the Apple iship, your space suit is red, you have none allergies

In [91]:
space_suit_welcome('Elon Musk','Apple iship',color='red',allergies='water')

welcome Elon Musk to the Apple iship, your space suit is red, you have water allergies

In [92]:
#setup a return statement
def space_suit_welcome_with_return(name,space_ship,color='Blue',allergies='none'):
    return 'welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name,space_ship,color,allergies)

In [93]:
space_suit_welcome_with_return('elon musk','apple iship')

'welcome elon musk to the apple iship, your space suit is Blue, you have none allergies'

In [94]:
#Example of storing the result of the function inside a variable
welcome=space_suit_welcome_with_return('elon musk','apple iship')

In [95]:
print(welcome)

welcome elon musk to the apple iship, your space suit is Blue, you have none allergies

In [96]:
# Lambda function anonymous function
pi= lambda x: x*3.14

In [97]:
pi(2)

6.28

In [98]:
return_value=pi(2)

In [99]:
print(return_value)

6.28

In [100]:
3.14*2

6.28

In [101]:
co = lambda x: x + 2

In [102]:
co(2)

4

# Classes , Attributes , Methods, Class inheritance

# 8. Classes

In [113]:
#clasees as boilerplates for objects
class Person():
    #the method that runs as soon as you create a class
    def __init__(self, name, age, color):
        #create some attributes for our person class
        self.name =name
        self.age = age
        self.color = color
        
    #date of birth method
    def year_of_birth(self):
        return 2022-self.age
    
    # Project age
    def project_age(self,years=5):
        return self.age+years

In [114]:
new_person = Person('Elon Musk',38,'blue')

In [115]:
#Accessing a class attribute
new_person.name

'Elon Musk'

In [116]:
# run a method
new_person.year_of_birth()

1984

In [117]:
#run a method with keyword argument
new_person.project_age(years=1)

39

# 9. inheritance 
- Parrent is the class passing down attributes and methods =PERSON
- CHILD is the class inheriting the method and attributes =ASTRONAUT

In [124]:
#create a child class
class Astronaut(Person):
    # Define initialization function
    def __init__(self,name,age,color, mission_length_in_months):
        #This is what gives us inheritance - SUPER METHOD
        super().__init__(name,age,color)
        self.mission_length_months=mission_length_in_months
    # Method for calculating age on return
    def age_on_return(self ):
        return self.project_age(years=int(self.mission_length_months/12))

In [125]:
new_astronaut= Astronaut ('suma',33,'red',48)

In [126]:
#Access parent like attribute
new_astronaut.color

'red'

In [129]:
#Access the methods
new_astronaut.year_of_birth()

1989

In [130]:
#run a method
new_astronaut.age_on_return()

37